{% extends 'news/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
{% blocktrans %} Jamiyat Yangiliklari {% endblocktrans %}
{% endblock title %}

{% block content %}
<!-- News With Sidebar Start -->
<div class="container-fluid mt-5 pt-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-12">
                        <div class="section-title">
                            <h4 class="m-0 text-uppercase font-weight-bold">Jamiyat yangiliklari</h4>
                            <a class="text-secondary font-weight-medium text-decoration-none" href="">Hammasini ko'rish</a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="position-relative mb-3">
                            <img class="img-fluid w-" style="width:363px; height:181px;" src="{{ local_1.image.url }}"
                                 style="object-fit: cover;">
                            <div class="bg-white border border-top-0 p-4">
                                <div class="mb-2">
                                    <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                       href="">{% blocktrans %} Batafsil {% endblocktrans %}</a>
                                    <a class="text-body" href=""><small>{{ local_1.publish_time }}</small></a>
                                </div>
                                <a class="h4 d-block mb-3 text-secondary text-uppercase font-weight-bold" href="{% url 'news_detail_page' local_1.pk %}">{{ local_1.title | truncatewords:3 }}</a>
                                <p class="m-0">{{ local_1.body | truncatewords:7 }}</p>
                            </div>
                            <div class="d-flex justify-content-between bg-white border border-top-0 p-4">
                                <div class="d-flex align-items-center">
                                </div>
                                <div class="d-flex align-items-center">
                                    <small class="ml-3"><i class="far fa-eye mr-2"></i>12345</small>
                                    <small class="ml-3"><i class="far fa-comment mr-2"></i>123</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="position-relative mb-3">
                            <img class="img-fluid w-" style="width:363px; height:181px;" src="{{ local_2.image.url }}"
                                 style="object-fit: cover;">
                            <div class="bg-white border border-top-0 p-4">
                                <div class="mb-2">
                                    <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                       href="{% url 'news_detail_page' local_2.pk %}">{% blocktrans %} Batafsil {% endblocktrans %}</a>
                                    <a class="text-body" href=""><small>{{ local_2.publish_time }}</small></a>
                                </div>
                                <a class="h4 d-block mb-3 text-secondary text-uppercase font-weight-bold" href="{% url 'news_detail_page' local_2.pk %}">{{ local_2.title | truncatewords:3 }}</a>
                                <p class="m-0">{{ local_2.body | truncatewords:7 }}</p>
                            </div>
                            <div class="d-flex justify-content-between bg-white border border-top-0 p-4">
                                <div class="d-flex align-items-center">
                                </div>
                                <div class="d-flex align-items-center">
                                    <small class="ml-3"><i class="far fa-eye mr-2"></i>12345</small>
                                    <small class="ml-3"><i class="far fa-comment mr-2"></i>123</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="position-relative mb-3">
                            <img class="img-fluid " style="width:363px; height:181px;" src="{{ local_3.image.url }}"
                                 style="object-fit: cover;">
                            <div class="bg-white border border-top-0 p-4">
                                <div class="mb-2">
                                    <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                       href="{% url 'news_detail_page' local_3.pk %}">{% blocktrans %} Batafsil {% endblocktrans %}</a>
                                    <a class="text-body" href=""><small>{{ local_3.publish_time }}</small></a>
                                </div>
                                <a class="h4 d-block mb-0 text-secondary text-uppercase font-weight-bold" href="{% url 'news_detail_page' local_3.pk %}">{{ local_3.title | truncatewords:4 }}</a>
                            </div>
                            <div class="d-flex justify-content-between bg-white border border-top-0 p-4">
                                <div class="d-flex align-items-center">
                                </div>
                                <div class="d-flex align-items-center">
                                    <small class="ml-3"><i class="far fa-eye mr-2"></i>12345</small>
                                    <small class="ml-3"><i class="far fa-comment mr-2"></i>123</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="position-relative mb-3">
                            <img class="img-fluid w-" style="width:363px; height:181px;" src="{{ local_4.image.url }}"
                                 style="object-fit: cover;">
                            <div class="bg-white border border-top-0 p-4">
                                <div class="mb-2">
                                    <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                       href="{% url 'news_detail_page' local_4.pk %}">{% blocktrans %} Batafsil {% endblocktrans %}</a>
                                    <a class="text-body" href=""><small>{{ local_4.publish_time }}</small></a>
                                </div>
                                <a class="h4 d-block mb-0 text-secondary text-uppercase font-weight-bold" href="{% url 'news_detail_page' local_4.pk %}">{{ local_4.title | truncatewords:3 }}</a>
                            </div>
                            <div class="d-flex justify-content-between bg-white border border-top-0 p-4">
                                <div class="d-flex align-items-center">
                                </div>
                                <div class="d-flex align-items-center">
                                    <small class="ml-3"><i class="far fa-eye mr-2"></i>12345</small>
                                    <small class="ml-3"><i class="far fa-comment mr-2"></i>123</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="position-relative mb-3">
                            <img class="img-fluid w-" style="width:363px; height:181px;" src="{{ local_5.image.url }}"
                                 style="object-fit: cover;">
                            <div class="bg-white border border-top-0 p-4">
                                <div class="mb-2">
                                    <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                       href="{% url 'news_detail_page' local_5.pk %}">{% blocktrans %} Batafsil {% endblocktrans %}</a>
                                    <a class="text-body" href=""><small>{{ local_5.publish_time }}</small></a>
                                </div>
                                <a class="h4 d-block mb-0 text-secondary text-uppercase font-weight-bold" href="{% url 'news_detail_page' local_5.pk %}">{{ local_5.title | truncatewords:2 }}</a>
                            </div>
                            <div class="d-flex justify-content-between bg-white border border-top-0 p-4">
                                <div class="d-flex align-items-center">
                                </div>
                                <div class="d-flex align-items-center">
                                    <small class="ml-3"><i class="far fa-eye mr-2"></i>12345</small>
                                    <small class="ml-3"><i class="far fa-comment mr-2"></i>123</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="position-relative mb-3">
                            <img class="img-fluid w-" style="width:363px; height:181px;" src="{{ local_6.image.url }}"
                                 style="object-fit: cover;">
                            <div class="bg-white border border-top-0 p-4">
                                <div class="mb-2">
                                    <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                       href="{% url 'news_detail_page' local_6.pk %}">{% blocktrans %} Batafsil {% endblocktrans %}</a>
                                    <a class="text-body" href=""><small>{{ local_6.publish_time }}</small></a>
                                </div>
                                <a class="h4 d-block mb-0 text-secondary text-uppercase font-weight-bold" href="{% url 'news_detail_page' local_6.pk %}">{{ local_6.title | truncatewords:3 }}</a>
                            </div>
                            <div class="d-flex justify-content-between bg-white border border-top-0 p-4">
                                <div class="d-flex align-items-center">
                                </div>
                                <div class="d-flex align-items-center">
                                    <small class="ml-3"><i class="far fa-eye mr-2"></i>12345</small>
                                    <small class="ml-3"><i class="far fa-comment mr-2"></i>123</small>
                                </div>
                            </div>
                        </div>
                    </div><div class="col-lg-6">
                        <div class="position-relative mb-3">
                            <img class="img-fluid w-" style="width:363px; height:181px;" src="{{ local_7.image.url }}"
                                 style="object-fit: cover;">
                            <div class="bg-white border border-top-0 p-4">
                                <div class="mb-2">
                                    <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                       href="{% url 'news_detail_page' local_7.pk %}">{% blocktrans %} Batafsil {% endblocktrans %}</a>
                                    <a class="text-body" href=""><small>{{ local_7.publish_time }}</small></a>
                                </div>
                                <a class="h4 d-block mb-0 text-secondary text-uppercase font-weight-bold" href="{% url 'news_detail_page' local_7.pk %}">{{ local_7.title | truncatewords:3 }}</a>
                            </div>
                            <div class="d-flex justify-content-between bg-white border border-top-0 p-4">
                                <div class="d-flex align-items-center">
                                </div>
                                <div class="d-flex align-items-center">
                                    <small class="ml-3"><i class="far fa-eye mr-2"></i>12345</small>
                                    <small class="ml-3"><i class="far fa-comment mr-2"></i>123</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="position-relative mb-3">
                            <img class="img-fluid w-" style="width:363px; height:181px;" src="{{ local_8.image.url }}"
                                 style="object-fit: cover;">
                            <div class="bg-white border border-top-0 p-4">
                                <div class="mb-2">
                                    <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                       href="{% url 'news_detail_page' local_8.pk %}">{% blocktrans %} Batafsil {% endblocktrans %}</a>
                                    <a class="text-body" href=""><small>{{ local_8.publish_time }}</small></a>
                                </div>
                                <a class="h4 d-block mb-0 text-secondary text-uppercase font-weight-bold" href="{% url 'news_detail_page' local_8.pk %}">{{ local_8.title | truncatewords:4 }}</a>
                            </div>
                            <div class="d-flex justify-content-between bg-white border border-top-0 p-4">
                                <div class="d-flex align-items-center">
                                </div>
                                <div class="d-flex align-items-center">
                                    <small class="ml-3"><i class="far fa-eye mr-2"></i>12345</small>
                                    <small class="ml-3"><i class="far fa-comment mr-2"></i>123</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="position-relative mb-3">
                            <img class="img-fluid w-" style="width:363px; height:181px;" src="{{ local_9.image.url }}"
                                 style="object-fit: cover;">
                            <div class="bg-white border border-top-0 p-4">
                                <div class="mb-2">
                                    <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                       href="{% url 'news_detail_page' local_9.pk %}">{% blocktrans %} Batafsil {% endblocktrans %}</a>
                                    <a class="text-body" href=""><small>{{ local_9.publish_time }}</small></a>
                                </div>
                                <a class="h4 d-block mb-0 text-secondary text-uppercase font-weight-bold" href="{% url 'news_detail_page' local_9.pk %}">{{ local_9.title | truncatewords:4 }}</a>
                            </div>
                            <div class="d-flex justify-content-between bg-white border border-top-0 p-4">
                                <div class="d-flex align-items-center">
                                </div>
                                <div class="d-flex align-items-center">
                                    <small class="ml-3"><i class="far fa-eye mr-2"></i>12345</small>
                                    <small class="ml-3"><i class="far fa-comment mr-2"></i>123</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="position-relative mb-3">
                            <img class="img-fluid w-" style="width:363px; height:181px;" src="{{ local_10.image.url }}"
                                 style="object-fit: cover;">
                            <div class="bg-white border border-top-0 p-4">
                                <div class="mb-2">
                                    <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                       href="{% url 'news_detail_page' local_10.pk %}">{% blocktrans %} Batafsil {% endblocktrans %}</a>
                                    <a class="text-body" href=""><small>{{ local_10.publish_time }}</small></a>
                                </div>
                                <a class="h4 d-block mb-0 text-secondary text-uppercase font-weight-bold" href="{% url 'news_detail_page' local_10.pk %}">{{ local_10.title | truncatewords:4 }}</a>
                            </div>
                            <div class="d-flex justify-content-between bg-white border border-top-0 p-4">
                                <div class="d-flex align-items-center">
                                </div>
                                <div class="d-flex align-items-center">
                                    <small class="ml-3"><i class="far fa-eye mr-2"></i>12345</small>
                                    <small class="ml-3"><i class="far fa-comment mr-2"></i>123</small>
                                </div>
                            </div>
                        </div>
                        </div>
                        <div class="col-lg-6">
                        <div class="position-relative mb-3">
                            <img class="img-fluid w-" style="width:363px; height:181px;" src="{{ local_11.image.url }}"
                                 style="object-fit: cover;">
                            <div class="bg-white border border-top-0 p-4">
                                <div class="mb-2">
                                    <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                       href="{% url 'news_detail_page' local_11.pk %}">{% blocktrans %} Batafsil {% endblocktrans %}</a>
                                    <a class="text-body" href=""><small>{{ local_11.publish_time }}</small></a>
                                </div>
                                <a class="h4 d-block mb-0 text-secondary text-uppercase font-weight-bold" href="{% url 'news_detail_page' local_11.pk %}">{{ local_11.title | truncatewords:4 }}</a>
                            </div>
                            <div class="d-flex justify-content-between bg-white border border-top-0 p-4">
                                <div class="d-flex align-items-center">
                                </div>
                                <div class="d-flex align-items-center">
                                    <small class="ml-3"><i class="far fa-eye mr-2"></i>12345</small>
                                    <small class="ml-3"><i class="far fa-comment mr-2"></i>123</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="position-relative mb-3">
                            <img class="img-fluid w-" style="width:363px; height:181px;" src="{{ local_12.image.url }}"
                                 style="object-fit: cover;">
                            <div class="bg-white border border-top-0 p-4">
                                <div class="mb-2">
                                    <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                       href="{% url 'news_detail_page' local_12.pk %}">{% blocktrans %} Batafsil {% endblocktrans %}</a>
                                    <a class="text-body" href=""><small>{{ local_12.publish_time }}</small></a>
                                </div>
                                <a class="h4 d-block mb-0 text-secondary text-uppercase font-weight-bold" href="{% url 'news_detail_page' local_12.pk %}">{{ local_12.title | truncatewords:4 }}</a>
                            </div>
                            <div class="d-flex justify-content-between bg-white border border-top-0 p-4">
                                <div class="d-flex align-items-center">
                                </div>
                                <div class="d-flex align-items-center">
                                    <small class="ml-3"><i class="far fa-eye mr-2"></i>12345</small>
                                    <small class="ml-3"><i class="far fa-comment mr-2"></i>123</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <!-- Social Follow Start -->
                <div class="mb-3">
                    <div class="section-title mb-0">
                        <h4 class="m-0 text-uppercase font-weight-bold">{% blocktrans %} Obuna bo'ling {% endblocktrans %}</h4>
                    </div>
                    <div class="bg-white border border-top-0 p-3">
                        <a href="" class="d-block w-100 text-white text-decoration-none mb-3"
                           style="background: #39569E;">
                            <i class="fab fa-facebook-f text-center py-4 mr-3"
                               style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                            <span class="font-weight-medium">12,345 Fans</span>
                        </a>
                        <a href="" class="d-block w-100 text-white text-decoration-none mb-3"
                           style="background: #52AAF4;">
                            <i class="fab fa-twitter text-center py-4 mr-3"
                               style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                            <span class="font-weight-medium">12,345 Followers</span>
                        </a>
                        <a href="" class="d-block w-100 text-white text-decoration-none mb-3"
                           style="background: #0185AE;">
                            <i class="fab fa-linkedin-in text-center py-4 mr-3"
                               style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                            <span class="font-weight-medium">12,345 Connects</span>
                        </a>
                        <a href="" class="d-block w-100 text-white text-decoration-none mb-3"
                           style="background: #C8359D;">
                            <i class="fab fa-instagram text-center py-4 mr-3"
                               style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                            <span class="font-weight-medium">12,345 Followers</span>
                        </a>
                        <a href="" class="d-block w-100 text-white text-decoration-none mb-3"
                           style="background: #DC472E;">
                            <i class="fab fa-youtube text-center py-4 mr-3"
                               style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                            <span class="font-weight-medium">12,345 Subscribers</span>
                        </a>
                        <a href="" class="d-block w-100 text-white text-decoration-none" style="background: #055570;">
                            <i class="fab fa-vimeo-v text-center py-4 mr-3"
                               style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                            <span class="font-weight-medium">12,345 Followers</span>
                        </a>
                    </div>
                </div>
                <!-- Social Follow End -->

                <!-- Ads Start -->
                <div class="mb-3">
                    <div class="section-title mb-0">
                        <h4 class="m-0 text-uppercase font-weight-bold">Reklama</h4>
                    </div>
                    <div class="bg-white text-center border border-top-0 p-3">
                        <a href="https://t.me/jonibek_devv"><img class="img-fluid" src="{% static 'img/news-reklama.jpg' %}" alt=""></a>
                    </div>
                </div>
                <!-- Ads End -->

                <!-- Popular News Start -->
                <div class="mb-3">
                    <div class="section-title mb-0">
                        <h4 class="m-0 text-uppercase font-weight-bold">{% blocktrans %} Ommabop Yangiliklar {% endblocktrans %}</h4>
                    </div>
                    <div class="bg-white border border-top-0 p-3">
                        <div class="d-flex align-items-center bg-white mb-3" style="height: 110px;">
                            <img class="img-fluid" src="img/news-110x110-1.jpg" alt="">
                            <div class="w-100 h-100 px-3 d-flex flex-column justify-content-center border border-left-0">
                                <div class="mb-2">
                                    <a class="badge badge-primary text-uppercase font-weight-semi-bold p-1 mr-2"
                                       href="">{% blocktrans %} Batafsil {% endblocktrans %}</a>
                                    <a class="text-body" href=""><small>{{ local_1.publish_time }}</small></a>
                                </div>
                                <a class="h6 m-0 text-secondary text-uppercase font-weight-bold" href="">{{ local_1.title | truncatewords:5 }}</a>
                            </div>
                        </div>
                        <div class="d-flex align-items-center bg-white mb-3" style="height: 110px;">
                            <img class="img-fluid" src="img/news-110x110-2.jpg" alt="">
                            <div class="w-100 h-100 px-3 d-flex flex-column justify-content-center border border-left-0">
                                <div class="mb-2">
                                    <a class="badge badge-primary text-uppercase font-weight-semi-bold p-1 mr-2"
                                       href="">{% blocktrans %} Batafsil {% endblocktrans %}</a>
                                    <a class="text-body" href=""><small>{{ local_1.publish_time }}</small></a>
                                </div>
                                <a class="h6 m-0 text-secondary text-uppercase font-weight-bold" href="">{{ local_2.title | truncatewords:5 }}</a>
                            </div>
                        </div>
                        <div class="d-flex align-items-center bg-white mb-3" style="height: 110px;">
                            <img class="img-fluid" src="img/news-110x110-3.jpg" alt="">
                            <div class="w-100 h-100 px-3 d-flex flex-column justify-content-center border border-left-0">
                                <div class="mb-2">
                                    <a class="badge badge-primary text-uppercase font-weight-semi-bold p-1 mr-2"
                                       href="">{% blocktrans %} Batafsil {% endblocktrans %}</a>
                                    <a class="text-body" href=""><small>{{ local_1.publish_time }}</small></a>
                                </div>
                                <a class="h6 m-0 text-secondary text-uppercase font-weight-bold" href="">{{ local_3.title | truncatewords:5 }}</a>
                            </div>
                        </div>
                        <div class="d-flex align-items-center bg-white mb-3" style="height: 110px;">
                            <img class="img-fluid" src="img/news-110x110-4.jpg" alt="">
                            <div class="w-100 h-100 px-3 d-flex flex-column justify-content-center border border-left-0">
                                <div class="mb-2">
                                    <a class="badge badge-primary text-uppercase font-weight-semi-bold p-1 mr-2"
                                       href="">{% blocktrans %} Batafsil {% endblocktrans %}</a>
                                    <a class="text-body" href=""><small>{{ local_1.publish_time }}</small></a>
                                </div>
                                <a class="h6 m-0 text-secondary text-uppercase font-weight-bold" href="">{{ local_4.title | truncatewords:5 }}</a>
                            </div>
                        </div>
                        <div class="d-flex align-items-center bg-white mb-3" style="height: 110px;">
                            <img class="img-fluid" src="img/news-110x110-5.jpg" alt="">
                            <div class="w-100 h-100 px-3 d-flex flex-column justify-content-center border border-left-0">
                                <div class="mb-2">
                                    <a class="badge badge-primary text-uppercase font-weight-semi-bold p-1 mr-2"
                                       href="">{% blocktrans %} Batafsil {% endblocktrans %}</a>
                                    <a class="text-body" href=""><small>{{ local_1.publish_time }}</small></a>
                                </div>
                                <a class="h6 m-0 text-secondary text-uppercase font-weight-bold" href="">{{ local_5.title | truncatewords:5 }}</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Popular News End -->

                <!-- Tags Start -->
                <hr>
                <div class="mb-3">
                    <div class="section-title mb-0">
                        <h4 class="m-0 text-uppercase font-weight-bold">Bo'limlar</h4>
                    </div>
                    <div class="bg-white border border-top-0 p-3">
                        <div class="d-flex flex-wrap m-n1">
                            <a class="btn btn-sm btn-outline-secondary m-1" href="{% url 'Uzbekistan' %}">O'zbekiston</a>
                            <a class="btn btn-sm btn-outline-secondary m-1" href="{% url 'Jahon' %}">Jahon</a>
                            <a class="btn btn-sm btn-outline-secondary m-1" href="{% url 'Sport' %}">Sport</a>
                            <a class="btn btn-sm btn-outline-secondary m-1" href="{% url 'Fan_texnika' %}">Fan-texnika</a>
                            <a class="btn btn-sm btn-outline-secondary m-1" href="{% url 'Iqtisodiyot' %}">Iqtisodiyot</a>
                        </div>
                    </div>
                </div>
                <!-- Tags End -->
            </div>
        </div>
    </div>
</div>
<!-- News With Sidebar End -->


{% endblock content %}
